html, body {
    background: #34495E;
    color: #F1F1F1;
}


hr.delimiter {
    width: 40%;
    border: 2px solid #F1F1F1;
    background-color: #F1F1F1;
    border-radius: 10px;
}

.block {
    padding: 15px;
    color: black;
    background: #F1F1F1;
    border-radius: 15px;
    min-height: 100px;
    margin-bottom: 10px;
}

.block ul {
    list-style: none;
    padding: 0;
}

.block ul li {
    width: 100%;
    text-align: center;
    transition-duration: 0.5s;
}

.block ul li:hover {
    background: #34495E;
    color: #F1F1F1;
    border-radius: 10px;
}

.block ul li:hover a {
    color: #F1F1F1;
}

.blue {
    color: #2ab7ca
}

.green {
    color: #65c3ba
}
